<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title CupcakeJS
  link(rel="stylesheet", href="css/main.css")
body
  img(src="media/cupcakejs.gif", alt="CupcakeJS Marshmallow Logo")
  br
  script(src="js/main.js")